.skill {
    width: 350px;
    background-color: #a48894;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid;
    padding: 10px;
    box-sizing: border-box;
}

.description {
    background-color: cornflowerblue;
    width: 100%;
}


.icon {
    height: 60px;
    width: 60px;
    background-color: cornflowerblue;
}