@import "../../../common/styles/sass/variables";
@import "../../../common/styles/sass/mixins";


.skill {
  width: 350px;
  height: 150px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: end;
  border: 0 solid;
  border-radius: 20px;
  box-shadow: 0 0 60px #c9c9c9;
  padding: 0px;
  margin: 15px;
  box-sizing: border-box;
  position: relative;
  transition-duration: 0.4s;
  .icon {
    height: 50px;
    width: 50px;
    background-color: cornflowerblue;
  }

  & h3 {
    margin: 0;
    padding: 0;
  }


  &:hover {
    background-color: #676cdb;
    color: white;

    .description {
      color: white;
    }

    & h3 {
      color: white;
    }
  }


  .title {
    @include text('Rubik', 500, 24px, 1.2);
    color: black;
    margin-left: 15px;
  }

  .description {
    position: absolute;
    right: 15px;
    width: 60%;
    @include text('Rubik', 300, 16px, 1.2);
    margin-left: 25px;
    color: $textThirdColor;
  }

}



