@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";


.iconsBlock {
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;

  .icon {
    margin: 5px;
    font-size: 25px;
    color: white;
    transition-duration: 0.4s;
    &:hover{
      color: $textSecondColor;
      cursor: pointer;
    }
  }


}

@media screen and (max-width: 857px) {
  .iconsBlock {
    flex-direction: column;
  }
}
