@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.mainBlock {
  height: 70vh;
  background-color: $bgColor;

  .container {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;

    .textContainer {
      display: flex;
      flex-direction: column;
      align-items: center;


      .text {
        align-self: center;
        max-width: 40vw;

        & h1 {
          margin: 20px 0 0;
          padding: 0;
          @include text('Poppins', 700, 4.5rem, 1.2);
        }

        & p {
          @include text('Rubik', 300, 1.12rem, 1.2);
          margin: 40px 0 0px;
          padding: 0;
          color: $textThirdColor;
        }

        & button {
          @include text('Rubik', 500, 1.12rem, 1.2);
          color: $textColor;
          height: 6.5vh;
          width: 250px;
          border: 1px solid $primaryColor;
          border-radius: 55px;
          background-color: $primaryColor;
          margin-top: 40px;
          transition-duration: 0.4s;

          &:hover {
            background-color: $bgColor;
            cursor: pointer;
            color: $primaryColor;
          }
        }


      }
    }

    .photo {
      min-width: 300px;
      height: 100%;
      background-color: $primaryColor;
      position: relative;

      .imageStyle {
        background-position: center;
        background-size: cover;
        display: block;
        position: absolute;
        opacity: 95%;
        bottom: 0;
        width: 305px;
        height: 380px;
        z-index: 50;

      }
    }

    .icons {
      margin-top: 40px;
      justify-content: space-between;

      .icon {
        color: white;
        font-size: 35px;
        margin: 35px;
        transition-duration: 0.5s;
        &:hover{
          color: $primaryColor;
          cursor: pointer;
        }
      }

      @media screen and (max-width: 857px) {
        .icon {
          font-size: 25px;
          margin: 25px;
        }
      }
    }


    @media screen and (max-width: 857px) {

      .container {
        justify-content: space-between;
      }
      .photo {
        min-width: 70px;
        //transform: translate(100%);
        .imageStyle {
          display: none;
        }
      }
      .textContainer {
        .text {
          & h1 {
            font-size: 2.5rem;
          }
          & button {
            width: 55px;
          }

        }
      }
    }

    @media screen and (max-width: 280px) {

      .container {
        justify-content: space-between;
      }
      .photo {
        min-width: 60px;
        //transform: translate(100%);
        .imageStyle {
          display: none;
        }
      }
      .textContainer {
        width: 215px;
        .text {
          max-width: 60%;
          & h1 {
            font-size: 1.5rem;
          }
          & p {
            font-size: 1rem;
          }
          & button {
            width: 55px;
          }

        }
      }
    }
  }
}


@media screen and (max-width: 375px) {
  .mainBlock {
    height: 90vh;

  }
}