@import "../../common/styles/sass/variables.scss";
@import "../../common/styles/sass/mixins";

.button {
  position: relative;
  @include text('Rubik', 500, 22px, 1.2);
  height: 50px;
  min-width: 200px;
  background-color: $primaryColor;
  color: $textColor;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  transition-duration: 0.4s;
  //transition: all 1s cubic-bezier(0.535, 1.595, 1.000, -0.575);
  cursor: pointer;
  border: 0;
  border-radius: 50px;

  &::before {
    content: '';
    height: 10px;
    width: 20px;
    position: absolute;
    bottom: 0;
    background-color: white;
    left: 50%;
    transform: translate(-50%, 50%)
  }

  &:hover {
    letter-spacing: 7px;


    &::before {
      transition-duration: 0.4s;
      height: 1px;
      width: 150px;
    }
    //background-color: $textThirdColor;
  }

  &:disabled {
    color: #443e3e;
    background-color: #84a1bd;
    box-shadow: 0 0 0 0px;
    cursor: no-drop;
  }
}





