@import "../../common/styles/sass/variables.scss";

.skillsBlock {
    min-height: 50vh;
    background-color: $bgSecondColor;
    z-index: 1;
    margin: 60px 0 0;
}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.icons {
   font-size: 80px;
    margin: 15px 10px;
}