.worksBlock {
min-height: 100vh;
    background-color: #1f1f20;
}

.worksContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    /*flex-wrap: nowrap;*/

}



.works {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 974px) {
    .works {
        justify-content: center;
    }
}