@import "../../../common/styles/sass/variables";
@import "../../../common/styles/sass/mixins";


.work {
  width: 450px;
  background-color: $bgSecondColor;
  flex-direction: column;
  justify-content: center;
  margin: 15px 15px 15px;
  position: relative;
  border: 0;
  border-radius: 20px;
  box-shadow: 0 0 60px #c9c9c9;
  .imageContainer {
    background-size: cover;
    background-position: center;
    width: 100%;
    max-height: 160px;
    min-height: 250px;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    &::before {
      position: absolute;
      content: '';
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 30%;
      border: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    .buttonImg {
      position: relative;
    }
  }

  .notes {
    @include text('Rubik', 300, 24px, 1.2);
    color: $primaryColor;

  }

  .descriptionBlock {
    text-align: start;
    padding: 25px 20px;

    & a {
      @include text('Rubik', 500, 24px, 1.2);
      position: relative;
      text-transform: uppercase;
      margin-top: 10px;
      display: inline-block;
      background-color: transparent;
      text-decoration: none;
      color: $textSecondColor;
    }

    & h3 {
      @include text('Rubik', 500, 24px, 1.2);
      letter-spacing: 1px;
      color: $textSecondColor;
    }

    .description {
      @include text('Rubik', 500, 24px, 1.2);
      //background-color: $bgSecondColor;
      color: $textThirdColor;
    }
  }
}








