@import "../../common/styles/sass/mixins";
@import "../../common/styles/sass/variables";

.nav {
  display: flex;

  & p {
    @include text('Rubik', 500, 18px, 1.2);
    margin: 0 15px 0;
    text-decoration: none
  }

  @media screen and (max-width: 280px) {
    p {
      @include text('Rubik', 500, 14px, 1.2);
      margin: 0 10px 0;
    }
  }

  :hover {
    cursor: pointer;
    color: rgba(175, 178, 217, 0.78);
  }

  .active {
    color: $primaryColor;
    position: relative;

    &::after {
      width: 0.6vw;
      height: 0.6vh;
      background-color: $primaryColor;
      position: absolute;
      content: "";
      border: 1px solid $primaryColor;
      border-radius: 2px;
    }
  }
}
